<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"> 
    <title>Dr Batra’s™ Homeopathic Treatment | Homeopathic Remedies Online</title>
	<meta name="keywords" content="homeopathic treatment, homeopathic remedies, homeopathy clinic, dr batras" />
	<meta name="description" content="Dr Batra’s™ Homeopathy clinic offer safe &amp; effective homeopathic treatment &amp; remedies for hair loss, psoriasis, asthma, acne, obesity and more. We have provided visible results to over 94% patients.">
	<meta property="og:description" content="Dr Batra’s™ Homeopathy clinic offer safe &amp; effective homeopathic treatment &amp; remedies for hair loss, psoriasis, asthma, acne, obesity and more. We have provided visible results to over 94% patients.">
	<link rel="shortcut icon" href="img/favicon.ico">
    <link rel="canonical" href="https://www.drbatras.com/">
    <link rel="amphtml" href="https://www.drbatras.com/amp/">
	<script type="application/ld+json">
	  {
		"@context": "http://schema.org",
		"@type": "NewsArticle",
		"mainEntityOfPage": "https://www.drbatras.com/amp/",
		"headline": "Dr Batra’s™ Homeopathic Treatment | Homeopathic Remedies Online",
		"datePublished": "2017-12-21T12:02:41Z",
		"dateModified": "2017-12-23T12:02:41Z",
		"description": "Dr Batra’s™ Homeopathy clinic offer safe &amp; effective homeopathic treatment &amp; remedies for hair loss, psoriasis, asthma, acne, obesity and more. We have provided visible results to over 94% patients.",
		"author": {
		  "@type": "Person",
		  "name": "Dr Batras"
		},
		"publisher": {
		  "@type": "Organization",
		  "name": "Dr. Batras Positive Health Clinic",
		  "logo": {
			"@type": "ImageObject",
			"url": "https://drbatras.com/amp/img/logo-dr-batras.png",
			"width": 180,
			"height": 60
		  }
		},
		"image": {
		  "@type": "ImageObject",
		  "url": "https://drbatras.com/amp/img/",
		  "height": 750,
		  "width": 410
		},
		"url": "https://drbatras.com/amp/",
		"name": "Dr. Batras Positive Health Clinic"
	  }
	</script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
	
	<link href="css/minimal-bootstrap-amp-min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<!-- <style amp-custom>{% include "css/minimal-bootstrap-amp-min.css" %}</style> -->
	<!-- <style amp-custom>{% include "css/style.css" %}</style> -->
	
    <script async src="https://cdn.ampproject.org/v0.js"></script>
	<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
	<script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
	<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
	<script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
	<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
</head>

<body role="document" class="landing-page" id="amp-page-index">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-12">
					<a href="index"><amp-img src="img/logo-dr-batras.png" width="120" height="40" alt="Dr Batra’s™ Homeopathic Treatment | Homeopathic Remedies Online" layout="responsive"></amp-img></a>
				</div>
				<div class="col-md-10 col-sm-10">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="medical-condition">Medical Conditions</a></li>
						<li><a href="homeopathy">Homeopathy</a></li>
						<li><a href="why-dr-batras">Why Dr Batra's</a></li>
						<li><a href="our-doctors">Our Doctors</a></li>
						<li><a href="https://www.drbatras.com/wellness-products" target="_blank">Wellness Products</a></li>
						<li><a href="testimonials">Testimonials</a></li>
						<li><a href="https://www.drbatras.com/blog/" target="_blank">Blog</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>	
	
	<header role="banner" class="page-banner">
		<figure>
			<amp-img src="img/1500x500.jpg" srcset="img/1500x500.jpg, img/768x256.jpg 768w, img/360x120.jpg 360w" width="1500" height="500" alt="Dr Batra’s™ Homeopathic Treatment | Homeopathic Remedies Online" layout="responsive"></amp-img>
		</figure>
	</header>
	
	<section class="container first-container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<section class="services" role="description">
					<figure>
						<amp-img src="img/services/service1.jpg" width="262" height="175" alt="Get treated by an expert medical team" layout="responsive"></amp-img>
					</figure>
					<h2 class="title">Get treated by an expert medical team</h2>
					<p>Our medical team consists of more than 350 homeopathic doctors including gold medallists and university rankers guided by a Medical Advisory Board comprising of MDs from top specializations.</p>
					<a href="medical-team.html" role="link" target="_self" class="btn btn-default">View Medical Team</a>
				</section>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12">
				<section class="services" role="description">
					<figure>
						<amp-img src="img/services/service2.jpg" width="262" height="175" alt="Want to free yourself from skin disorders?" layout="responsive"></amp-img>
					</figure>
					<h2 class="title">Want to free yourself from skin disorders?</h2>
					<p>We specialise in treating skin disorders with an authenticated 94.3% success rate, having long-term results and no side-effects. Our team of more than 20 homeopathic skin specialists monitor your treatment under international protocols.</p>
					<a href="skin-treatment-at-dr-batras.html" role="link" target="_self" class="btn btn-default">Read more</a>
				</section>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12">
				<section class="services" role="description">
					<figure>
						<amp-img src="img/services/service3.jpg" width="262" height="175" alt="Would you like to bring back your happy and healthy hair?" layout="responsive"></amp-img>
					</figure>
					<h2 class="title">Would you like to bring back your happy and healthy hair?</h2>
					<p>Let age not take away your confidence when you can now reverse your hair loss. We offer you safe and scientific treatment that treats from the root with an authenticated 96.6% success rate.</p>
					<a href="medical-team.html" role="link" target="_self" class="btn btn-default">Read more</a>
				</section>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12">
				<section class="services" role="description">
					<figure>
						<amp-img src="img/services/service4.jpg" width="262" height="175" alt="We have a ‘Patient-First’ philosophy" layout="responsive"></amp-img>
					</figure>
					<h2 class="title">We have a ‘Patient-First’ philosophy</h2>
					<p>Our patients are at the core of everything we do. We have secured a positive treatment outcome of 91% with an overall patient satisfaction of 87% in treating over 10 lakh patients across all age groups globally.</p>
					<a href="medical-team.html" role="link" target="_self" class="btn btn-default">Read more</a>
				</section>
			</div>
		</div>
	</section>
	
	<section class="dr-batras-info-container">
		<section class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h1>Dr Batra’s™: Pioneering homeopathy in India</h1>
					<p>Used by over 50 crore people globally, homeopathy is the 2nd largest system of medicine in the world, according to the World Health Organization (WHO). Born in Germany and practiced in over 80 countries, homeopathy is extremely popular in India and is used by over 10 crore people in the country. Padma Shri recipient Dr Mukesh Batra, the founder chairman of Dr Batra’s ™, is responsible for pioneering modern homeopathy in India. Today, under his leadership, Dr Batra’s™ Healthcare has grown from just a single clinic in Mumbai to over 230 clinics across 122 cities in India, Dubai, UK, and Bangladesh.</p>
					<a href="why-dr-batras" role="link" target="_self" class="btn btn-default m-t-10">Read more</a>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<figure>
						<amp-img src="img/dr-mukesh-batra.jpg" width="1400" height="934" alt="Dr Batra’s™: Pioneering homeopathy in India" layout="responsive"></amp-img>
					</figure>
				</div>
			</div>
		</section>
	</section>
	
	<section class="cta-container">
		<section class="container">
			<div class="row">
				<div class="col-md-9 col-sm-6 col-xs-12">
					<h2>Finding us is easy</h2>
					<h5>Visit one of our clinics in your locality for holistic homeopathic treatment.</h5>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="https://www.drbatras.com/homeopathy-clinics/.html" role="link" target="_self" class="btn btn-default btn-lg btn-block locate-clinic">Locate Our Clinics</a>
				</div>
			</div>
		</section>
	</section>
	
	<footer class="footer1">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<h4>Tools</h3>
					<ul class="amp-footer-links">
						<li><a href="https://www.drbatras.com/hair-evaluation-test">Hair Loss Evaluation Test</a></li>
						<li><a href="https://www.drbatras.com/vitiligo-eval-test">Vitiligo Evaluation Test</a></li>
						<li><a href="https://www.drbatras.com/eczema-evaluation-test">Eczema Evaluation Test</a></li>
						<li><a href="https://www.drbatras.com/skin-eval-test">Skin Evaluation Test</a></li>
						<li><a href="https://www.drbatras.com/depression-evaluation-test">Depression Evaluation Test</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-3">
					<h4>Work With Us</h4>
					<ul class="amp-footer-links">
						<li><a href="https://www.drbatras.com/work-with-us/why-dr-batras">Why Dr Batra's<sup>™</sup></a></li>
						<li><a href="https://www.drbatras.com/work-with-us/why-be-dr-at-dr-batras">Doctors @ Dr Batra's<sup>™</sup></a></li>
						<li><a href="https://www.drbatras.com/work-with-us/employee-friendly">Employee Friendly</a></li>
						<li><a href="https://www.drbatras.com/work-with-us/job-opportunities">Job Opportunities</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-3">
					<h4>Support</h4>
					<ul class="amp-footer-links">
						<li><a href="https://www.drbatras.com/patient-support">Patient Support</a></li>
						<li><a href="https://www.drbatras.com/your-feedback">Customer Feedback</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="amp-footer-cta-call">
						<a href="tel:+919533473214">
							<amp-img width="35" height="35" alt="envelope-email" src="img/svg-telephone-call.svg"></amp-img>
							<span>+91-95334-73214</span>
						</a>
					</div>
					<div class="amp-footer-cta-book">
						<a href="https://www.drbatras.com/book-an-appointment">
							<amp-img width="35" height="35" alt="telephone-call" src="img/svg-envelope-shape.svg"></amp-img>
							<span>Book appointment</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<footer class="footer2">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-4 col-xs-12"><span>&#169; Dr Batra's - All Rights Reserved</span></div>
				<div class="col-md-6 col-sm-8 col-xs-12 pull-right">
					<ul class="inline-listing">
						<li><a href="https://www.drbatras.com/glossary">Glossary</a></li>
						<li><a href="https://www.drbatras.com/terms-services">Terms of Services</a></li>
						<li><a href="https://www.drbatras.com/privacy-policy">Privacy Policy</a></li>
						<li><a href="https://www.drbatras.com/disclaimer">Disclaimer</a></li>
						<li><a href="https://www.drbatras.com/sitemap">Sitemap</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>
	
</html>